{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
        <article class="post shadow p-4 mb-4 border rounded bg-body-secondary">
            <h2 class="h4 mb-2">
                <a href="#" class="text-decoration-none text-primary">{{ post.title }}</a>
            </h2>
            <time class="text-muted small d-block mb-2">
                Published: {{ post.published_date }}
            </time>
            <p>{{ post.text|linebreaksbr }}</p>
        </article>
    {% endfor %}
{% endblock %}