{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
        <article class="post shadow p-4 mb-4 border rounded bg-body-secondary">
            <h2 class="h4 mb-2 font-heading">
                <a href="{% url 'post_detail' pk=post.pk %}" class="text-decoration-none text-primary">{{ post.title }}</a>
            </h2>
            <time class="border-bottom pb-1 text-muted small d-block mb-3 font-body">
                Published: {{ post.published_date }}
            </time>
            <a href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.approved_comments.count }}</a>
            {% comment %} <p class="p-1 font-body">{{ post.text|linebreaksbr }}</p> {% endcomment %}
        </article>
    {% endfor %}
{% endblock %}