<!DOCTYPE html>
<html>

<head>
    <title>Test Blog</title>
</head>

<body>
    <header>
        <h1><a href="/">Test Blog</a></h1>
    </header>

    <article>
        <time>published: 2025.01.25, 16:14</time>
        <h2><a href="">My first post</a></h2>
        <p>Just writing some words in the file that will get used to display on a web page.</p>
    </article>

    <article>
        <time>published: 2025.01.25, 16:14</time>
        <h2><a href="">My second post</a></h2>
        <p>And here's a second post to test things out.</p>
    </article>
</body>

</html>