/* Base styles */

/* Custom Font Styling */
.font-heading {
    font-family: 'Quattrocento', serif;
    font-weight: 700;
    /* Bold for headings */
}

.font-body {
    font-family: 'Quattrocento Sans', sans-serif;
    font-weight: 400;
    /* Regular weight for body text */
    line-height: 1.6;
    /* Improve readability for long texts */
}
